.ten{
    border: 1px solid black;
    width: 400px;
    height: 400px;
}
.br{
    margin-top: 15px;
}
.em{margin-top: 15px;}
.rh{margin-top: 15px}
.pi{margin-top: 15px;}
.pt{margin-top: 13px;}
.gt{margin-top: 15px;}